 h1 {
     margin-top: 5%;
     font-size: 80px;
     color: rgb(19, 18, 18);
 }



 span {
     font-size: 80px;
     color: rgb(10, 10, 10);
 }

 .start {
     appearance: button;
     backface-visibility: hidden;
     background-color: #0fac17;
     border-radius: 6px;
     border-width: 0;
     box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .1) 0 2px 5px 0, rgba(0, 0, 0, .07) 0 1px 1px 0;
     box-sizing: border-box;
     color: #fff;
     cursor: pointer;
     font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, sans-serif;
     font-size: 100%;
     height: 50px;
     line-height: 1.15;
     margin: 12px 0 0;
     outline: none;
     overflow: hidden;
     padding: 0 25px;
     position: relative;
     text-align: center;
     text-transform: none;
     transform: translateZ(0);
     transition: all .2s, box-shadow .08s ease-in;
     user-select: none;
     -webkit-user-select: none;
     touch-action: manipulation;
     width: 10em;
 }

 .start:focus {
     box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
 }

 .pause {
     appearance: button;
     backface-visibility: hidden;
     background-color: #100e83;
     border-radius: 6px;
     border-width: 0;
     box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .1) 0 2px 5px 0, rgba(0, 0, 0, .07) 0 1px 1px 0;
     box-sizing: border-box;
     color: #fff;
     cursor: pointer;
     font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, sans-serif;
     font-size: 100%;
     height: 50px;
     line-height: 1.15;
     margin: 12px 0 0;
     outline: none;
     overflow: hidden;
     padding: 0 25px;
     position: relative;
     text-align: center;
     text-transform: none;
     transform: translateZ(0);
     transition: all .2s, box-shadow .08s ease-in;
     user-select: none;
     -webkit-user-select: none;
     touch-action: manipulation;
     width: 10em;
     ;
 }

 .pause:focus {
     box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
 }

 .reset {
     appearance: button;
     backface-visibility: hidden;
     background-color: #b40a0a;
     border-radius: 6px;
     border-width: 0;
     box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .1) 0 2px 5px 0, rgba(0, 0, 0, .07) 0 1px 1px 0;
     box-sizing: border-box;
     color: #fff;
     cursor: pointer;
     font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, sans-serif;
     font-size: 100%;
     height: 50px;
     line-height: 1.15;
     margin: 12px 0 0;
     outline: none;
     overflow: hidden;
     padding: 0 25px;
     position: relative;
     text-align: center;
     text-transform: none;
     transform: translateZ(0);
     transition: all .2s, box-shadow .08s ease-in;
     user-select: none;
     -webkit-user-select: none;
     touch-action: manipulation;
     width: 10em;
     ;
 }


 .reset:focus {
     box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
 }